table{
	border-collapse: collapse;
	text-align: center;
	width: 70%;
}

.tableBottom{
	padding-top: 22px;
}

.tableLeft{
	text-align: left;
}

.gabungan{
	text-align: center;
	font-family: arial;
}

.gabungan h2{
	color: red;
}

.gabungan h3{
	color: green;
}